<div class="high-scores">
  <h1>scores for <%= @puzzle.title %></h1>
  <ol>
    <% @scores.each do |s| %>
      <li>
        <%= "#{s.score/100.0} - #{s.name}"%>
      </li>
    <% end %>
  </ol>
</div>
